/* body */
body{
    background-color: #c9fff4;
    color:  #2c3e50;
}

section{
    display: table;
    width: 100%;
}

.section-container{
    margin: 50px 20% 50px;
    padding: 20px;
    
}

/* ----------------------------- */

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}



header h1.bigtitle{
    font-family: 'Lato', sans-serif;
    font-size: 180px;
    text-transform: uppercase;
}

/* ----------------------------- */

/* nav */
.navbar {
    width: 100%;
    background-color:  #00a180;
    overflow: auto;
    border-radius: 25px;
    border: 2px solid #00a180;
    display: grid;
    
  }
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: 'Sansita Swashed', cursive;
    text-decoration: none;
    font-size: 30px;
  }
  .navbar a:hover {
    background-color: #000;
  }
  .active {
    background-color:  #36cf4f;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }  

/* ----------------------------- */

/* chat-mascotte */
section#chat-mascotte{
    height: 250px;
    background-position: center;
}

section#chat-mascotte h1 {
    color: #c0392b;
    font-size: 80px;
    font-family: 'Sansita Swashed', cursive;

}

section#chat-mascotte p {
    color: black;
    font-size: 30px;
    font-family: 'Sansita Swashed', cursive;
}

section#chat-mascotte img {
    width: 75%;
    border-radius: 25px;
}
/* ----------------------------- */

/* Info */
section#info{
    height: 250px;
    background: url(/assets/chat1.jpg) fixed no-repeat;
    background-position: center;
}

section#info h1 {
    color:  #c0392b;
    font-size: 80px;
    font-family: 'Sansita Swashed', cursive;

}

section#info p {
    color: black;
    font-size: 30px;
    font-family: 'Sansita Swashed', cursive;
    line-height: 1.8;
}